<h1><%= @title %> 別ランキング</h1>
<table border="1">
  <thead>
    <th>順位</th>
    <th><%= @title %></th>
    <th>回数</th>
    <th>総額</th>
  </thead>
  <tbody>
    <% @ranking.each_with_index do |r , idx| %>
    <tr>
      <td class="center"><%= idx + 1 %></td>
      <td class="center"><%= r[:key] %></td>
      <td class="right"><%= r[:num] %></td>
      <td class="right"><%= to_kanji r[:amount] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
